@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table class="table table-striped table-bordered" id="clientTable" data-ajax="/Client/GetList">
    <thead class="thead-dark">
        <tr>
            <th scope="col" data-data="id">Id</th>
            <th scope="col" data-data="name">Name</th>
        </tr>
    </thead>
</table>

<div role="dialog" id="clientModal" tabindex="-1" aria-hidden="true" class="modal fade in">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Add Client</h4>
            </div>
            <div class="modal-body">
                <form id="clientForm" data-ajax="true" data-ajax-method="POST" data-ajax-url="/client/create" data-ajax-success="clientDone" data-ajax-failure="clientFail">
                    <div id="clientError" class="alert alert-danger" role="alert" style="display: none;"></div>

                    <ul id="tabs" class="nav nav-tabs">
                        <li class="">
                            <a href="#client" data-toggle="tab" aria-expanded="false">Client</a>
                        </li>
                        <li class="">
                            <a href="#secret" data-toggle="tab" aria-expanded="false">Secret</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="client" class="tab-pane">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input name="clientName" type="text" class="form-control" required="">
                            </div>

                            <div class="form-group">
                                <label for="name">ClientId:</label>
                                <input name="clientId" type="text" class="form-control" required="">
                            </div>

                            <div class="form-group">
                                <label for="name">Scope:</label>
                                <input name="allowedScopes" type="text" class="form-control" required="">
                            </div>

                            <div class="form-group">
                                <label for="name">Redirect Uri:</label>
                                <input name="redirectUris" type="text" class="form-control" required="">
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input name="allowOfflineAccess" type="checkbox" />Refresh Token</label>
                                </div>

                                <div class="checkbox">
                                    <label><input name="alwaysIncludeUserClaimsInIdToken" type="checkbox" />Include User's Claim in Id Token</label>
                                </div>
                            </div>
                        </div>

                        <div id="secret" class="tab-pane">
                            <table id="secretTable" class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th>Value</th>
                                        <th>Expire</th>
                                        <th>Action</th>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><input id="newValue" type="text"></td>
                                        <td><input id="newExpire" type="date"></td>
                                        <td><a id="addSecret">Add</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="clientForm" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div role="dialog" id="clientEditModal" tabindex="-1" aria-hidden="true" class="modal fade in">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Edit Client</h4>
            </div>
            <div class="modal-body">
                <form id="clientFormEdit" data-ajax="true" data-ajax-method="POST" data-ajax-url="/client/edit" data-ajax-success="clientEditDone" data-ajax-failure="clientEditFail">
                    <div id="editError" class="alert alert-danger" role="alert" style="display: none;"></div>
                    <input name="id" type="hidden" />
                    <ul id="tabsEditClient" class="nav nav-tabs">
                        <li class="">
                            <a href="#clientEdit" data-toggle="tab" aria-expanded="false">Client</a>
                        </li>
                        <li class="">
                            <a href="#secretEdit" data-toggle="tab" aria-expanded="false">Secret</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="clientEdit" class="tab-pane">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input name="clientName" type="text" class="form-control" required="">
                            </div>

                            <div class="form-group">
                                <label for="name">ClientId:</label>
                                <input name="clientId" type="text" class="form-control" required="">
                            </div>

                            <div class="form-group">
                                <label for="name">Scope:</label>
                                <input name="allowedScopes" type="text" class="form-control" required="">
                            </div>

                            <div class="form-group">
                                <label for="name">Redirect Uri:</label>
                                <input name="redirectUris" type="text" class="form-control" required="">
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input name="allowOfflineAccess" type="checkbox" />Refresh Token</label>
                                </div>

                                <div class="checkbox">
                                    <label><input name="alwaysIncludeUserClaimsInIdToken" type="checkbox" />Include User's Claim in Id Token</label>
                                </div>
                            </div>
                        </div>

                        <div id="secretEdit" class="tab-pane">
                            <table id="secretTableEdit" class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th>Value</th>
                                        <th>Expire</th>
                                        <th>Action</th>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td><input id="newValueEdit" type="text"></td>
                                        <td><input id="newExpireEdit" type="date"></td>
                                        <td><a id="addEditSecret">Add</a></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="clientFormEdit" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#clientTable').DataTable({
                select: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        text: "New",
                        action: function (e, dt, button, config) {
                            $('#clientError').hide();
                            $('#clientForm').trigger('reset');
                            $('#clientModal').modal({ backdrop: 'static' });
                            $('#tabs a:first').tab('show');
                            $('#secretTable tbody tr:gt(0)').remove();
                        }
                    },
                    {
                        extend: "selectedSingle",
                        text: "Edit",
                        action: function (e, dt, button, config) {
                            var data = dt.row({ selected: true }).data();
                            $('#editError').hide();
                            $('#tabsEditClient a:first').tab('show');
                            $('#clientFormEdit').trigger('reset');
                            $('#secretTableEdit tbody tr:not(:first)').remove();

                            $('#clientEditModal input[name=id]').val(data.id);
                            $('#clientEditModal input[name=clientName]').val(data.name);
                            $('#clientEditModal input[name=clientId]').val(data.id);
                            $('#clientEditModal input[name=allowedScopes]').val(data.scope.toString());
                            $('#clientEditModal input[name=redirectUris]').val(data.redirectUri);

                            if (data.allowOfflineAccess) {
                                $('#clientFormEdit :checkbox[name=allowOfflineAccess]').prop('checked', true);
                            } else {
                                $('#clientFormEdit :checkbox[name=allowOfflineAccess]').prop('checked', false);
                            }

                            if (data.alwaysIncludeUserClaimsInIdToken) {
                                $('#clientFormEdit :checkbox[name=alwaysIncludeUserClaimsInIdToken]').prop('checked', true);
                            } else {
                                $('#clientFormEdit :checkbox[name=alwaysIncludeUserClaimsInIdToken]').prop('checked', false);
                            }

                            $.each(data.secrets, function (index, value) {
                                $('#secretTableEdit tbody').append('<tr><td data-field="key">' + value.value + '</td>' +
                                    '<td data-field="value">' + value.expiration + '</td><td><a class="removeSecret">Remove</a></td></tr>');
                            });

                            $('#clientEditModal').modal({ backdrop: 'static' });
                        }
                    },
                    {
                        extend: "selectedSingle",
                        text: "Delete",
                        action: function (e, dt, button, config) {
                            if (confirm('Are you sure?')) {
                                var data = dt.row({ selected: true }).data();

                                $.ajax({
                                    type: 'POST',
                                    url: '/Client/Delete',
                                    data: { id: data.id }
                                })
                                    .done(delDone)
                                    .fail(delFail);
                            }
                        }
                    },
                ]
            });

            $('#addSecret').click(function () {
                if ($('#newValue').val() && $('#newExpire').val()) {
                    $('#secretTable tbody').append('<tr><td data-field="key">' + $('#newValue').val() + '</td>' +
                        '<td data-field="value">' + $('#newExpire').val() + '</td><td><a class="removeSecret">Remove</a></td></tr>');
                    $('#newValue, #newExpire').val('');
                }
                else
                    alert('Incomplete entry');
            });

            $('#addEditSecret').click(function () {
                if ($('#newValueEdit').val() && $('#newExpireEdit').val()) {
                    $('#secretTableEdit tbody').append('<tr><td data-field="key">' + $('#newValueEdit').val() + '</td>' +
                        '<td data-field="value">' + $('#newExpireEdit').val() + '</td><td><a class="removeSecret">Remove</a></td></tr>');
                    $('#newValueEdit, #newExpireEdit').val('');
                }
                else
                    alert('Incomplete entry');
            });

            $('#secretTable').on('click', 'a.removeSecret', function () {
                if (confirm('Are you sure?'))
                    $(this).closest('tr').remove();
            });

            $('#secretTableEdit').on('click', 'a.removeSecret', function () {
                if (confirm('Are you sure?'))
                    $(this).closest('tr').remove();
            });

            $("#clientForm").submit(function () {
                $('#secretTable tbody tr:gt(0)').each(function (index, elem) {
                    var key = $(this).find('td[data-field=key]');
                    key.append($('<input>').attr('name', 'secrets[' + index + '][key]').attr('type', 'hidden').val(key.text()));

                    var val = $(this).find('td[data-field=value]');
                    val.append($('<input>').attr('name', 'secrets[' + index + '][value]').attr('type', 'hidden').val(val.text()));
                });
            });

            $("#clientFormEdit").submit(function () {
                $('#secretTableEdit tbody tr:gt(0)').each(function (index, elem) {
                    var key = $(this).find('td[data-field=key]');
                    key.append($('<input>').attr('name', 'secrets[' + index + '][key]').attr('type', 'hidden').val(key.text()));

                    var val = $(this).find('td[data-field=value]');
                    val.append($('<input>').attr('name', 'secrets[' + index + '][value]').attr('type', 'hidden').val(val.text()));
                });

                $(this).find(':checkbox').each(function (e) {
                    if (this.checked) {
                        $(this).attr("value", "true");
                    } else {
                        $(this).attr("value", "false");
                    }
                });

            });

            $(document).on("click", "[type='checkbox']", function (e) {
                if (this.checked) {
                    $(this).attr("value", "true");
                } else {
                    $(this).attr("value", "false");
                }
            });

            clientDone = function (data, status, xhr) {
                $('#clientModal').modal('hide');
                $('#clientTable').DataTable().ajax.reload(null, false);
            }

            clientFail = function (xhr, status, error) {
                $('#clientError').html(xhr.responseText || error).fadeIn();
            }

            function delDone(data, status, xhr) {
                $('#clientTable').DataTable().ajax.reload(null, false);
            }

            function delFail(xhr, status, error) {
                alert(xhr.responseText || error);
            }

            clientEditDone = function (data, status, xhr) {
                $('#clientEditModal').modal('hide');
                $('#clientTable').DataTable().ajax.reload(null, false);
            }

            clientEditFail = function (xhr, status, error) {
                $('#editError').html(xhr.responseText || error).fadeIn();
            }
        });
    </script>
}